import {
  to = module.database.cloudflare_d1_database.database
  id = "${local.cloudflare_account_id}/replace-with-existing-database-id"
}

import {
  to = module.meal_photos.cloudflare_r2_bucket.meal_photos
  id = "${local.cloudflare_account_id}/life-console-development-meal-photos/default"
}

import {
  to = module.owner_access.cloudflare_zero_trust_access_application.worker
  id = "accounts/${local.cloudflare_account_id}/replace-with-existing-access-application-id"
}

import {
  to = module.owner_policy.cloudflare_zero_trust_access_policy.owner
  id = "${local.cloudflare_account_id}/replace-with-existing-owner-policy-id"
}
